name: Build and Deploy Book
on:
  push:
    branches: [main]
  workflow_dispatch:
# Python 3.12 and Make are pre-installed on ubuntu-latest.
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Install python dependencies
      run: pip install --break-system-packages docx2pdf iuliia
    - name: Install dependencies
      run: make install
    - name: Build book
      run: make web
    - name: Generate the sitemap
      uses: cicirello/generate-sitemap@v1
      with:
        base-url-path: https://true-grue.github.io/kisscm/
        path-to-root: ./build/book
        exclude-paths: /404.html
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: ./build/book
  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v4
